<form (ngSubmit)="myForm.valid && sendForm()" #myForm="ngForm">
  <label>
    Adresse mail :
    <input
      type="email"
      name="adresseMail"
      [(ngModel)]="mail"
      required
      email
      #adresseMail="ngModel"
    />
  </label>
  <div
    *ngIf="
      myForm.submitted && adresseMail.errors && adresseMail.errors.required
    "
  >
    Veuillez rentrer une adresse mail
  </div>
  <div
    *ngIf="myForm.submitted && adresseMail.errors && adresseMail.errors.email"
  >
    Le format d'email est incorrect
  </div>
  <label>
    Mot de passe :
    <input
      type="password"
      name="motDePasse"
      [(ngModel)]="motDePasse"
      #passe="ngModel"
      required
      minlength="6"
    />
  </label>
  <div *ngIf="myForm.submitted && passe.errors && passe.errors.required">
    Veuillez rentrer un mot de passe
  </div>
  <div *ngIf="myForm.submitted && passe.errors && passe.errors.minlength">
    Le mot de passe doit contenir au minimum 6 caractères
  </div>
  <button type="submit">Envoyer les données</button>
</form>
<div *ngIf="formulaireOK">Super, ton formulaire a été envoyé !</div>
